<div class="container">
  <h2 class="title-lg mb">Редактирование пациента <%= @tamplate.id %> </h2>

  <%= form_with model: @tamplate do |form| %>
  <p><%= form.label :types, 'Тип' %></p>
  <p><%= form.text_area :types, rows: 1, class: 'form-text-area' %></p>

  <p><%= form.label :koef, 'Коф.' %></p>
  <p><%= form.text_area :koef, rows: 1, class: 'form-text-area' %></p>

  <p><%= form.label :name, 'Имя' %></p>
  <p><%= form.text_area :name, rows: 1, class: 'form-text-area' %></p>

  <p class="mt"><%= form.label :chernovik, 'Чероновик' %></p>
  <p><%= form.text_area :chernovik, rows: 1, class: 'form-text-field' %></p>
  <p><%= form.label :opisanie, 'Описание' %></p>
  <p><%= form.text_area :opisanie, rows: 1, class: 'form-text-field' %></p>

  <p class="mt"><%= form.submit 'Сохранить', class: 'button button-main' %></p>
  <% end %>
</div>
