<div class="container">
  <h2 class="title-lg mb">Новый шаблон</h2>

  <% if @tamplate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tamplate.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @tamplate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @tamplate do |form| %>


  <p><%= form.label :templ_type, 'Тип' %></p>
  <p><%= form.number_field :templ_type %></p>

  <p><%= form.label :koef, 'Коф.' %></p>
  <p><%= form.number_field :koef %></p>


  <p><%= form.label :name, 'Имя' %></p>
  <p><%= form.text_area :name, rows: 2 %></p>

  <p class="mb"><%= form.label :chernovik, 'Чероновик' %></p>
  <p><%= form.text_area :chernovik, rows: 5, class: 'form-text-area' %></p>

  <p><%= form.label :opisanie, 'Описание' %></p>
  <p><%= form.text_area :opisanie, rows: 5, class: 'form-text-field' %></p>

  <p class="mb"><%= form.submit 'Создать', class: 'button button-main' %></p>
  <p class="mt"><%= link_to "Все шаблоны", "/tamplates" %></p>
  <% end %>
</div>
