<div class="container">
  <h2 class="title-lg mb">Шаблон <%= @tamplate.id %></h2>

  <p class="mb-sm"><%= @tamplate.name %></p>

  <div class="mt">
    <%= link_to fa_icon('pencil'), edit_tamplate_path(@tamplate), title: 'Изменить шаблон'%>
    <%= button_to fa_icon('trash-o'), tamplate_path(@tamplate), method: :delete, title: 'Удалить шаблон' %>
  </div>

  <p class="mt"><%= link_to "Все шаблоны", "/tamplates" %></p>
</div>
